@model TDS.DataAccess.EntityModels.DeliveryEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DeliveryEntity</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductEntityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductEntityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderEntityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderEntityId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeliveryEntityId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
